<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @project.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @project.end_date %>
</p>

<h2>Users</h2>
<%= @project.tags.map { |t| t.username }.join(", ") %>

<h2>Tasks</h2>
<%= render @project.tasks %>

<h2>Add a task:</h2>
<%= render "tasks/form" %>
 
<br />

 



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
