<%= form.fields_for :tags do |tag_form| %>
  <div class="field">
    <%= tag_form.label :first_name, 'First name:' %>
    <%= tag_form.text_field :first_name %>
  </div>
  <div class="field">
    <%= tag_form.label :last_name, 'Last name:' %>
    <%= tag_form.text_field :last_name %>
  </div>
  <div class="field">
    <%= tag_form.label :username, 'Username:' %>
    <%= tag_form.text_field :username %>
  </div>
  
  <% unless tag_form.object.nil? || tag_form.object.new_record? %>
    <div class="field">
      <%= tag_form.label :_destroy, 'Remove:' %>
      <%= tag_form.check_box :_destroy %>
    </div>
  <% end %>
<% end %>